# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# OS-specific files
.DS_Store

# IDEs/editors
.vscode/
.idea/

# Build artifacts
dist/
build/
coverage/

# PM2 logs or config
.pids
*.pid
*.seed
*.pid.lock

# Test coverage reports
coverage/

